<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>데이터 조회</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <!--static 미들웨어 -> css 파일 적용 -->
    <link href="font.css" rel="stylesheet">
    
    <style>

    </style>
  </head>
  <body>

    
    <!--템플릿 엔진 : include -> 중복된 코드 분리 후 ejs에 적용  -->
    <%- include('nav.html') %>



    <div class="container input-group ml-2 my-3">
      <input class="form-control sword" type="search" placeholder="검색어 입력" aria-label="Search" id="search">
      <button class="btn btn-outline-success" type="submit" id="search-btn">검색</button>
    </div>

    <div id="container">
      <table class="table table-striped table-hover text-center me-4 ms-4" style="border:1px black solid; width:95%;">
        <thead>
          <tr>
            <th>제목</th>
            <th>내용</th>
            <th>작성일</th>
            <th>삭제</th>
          </tr>
        </thead>
        <tbody>

          <% for(let i=0; i<data.length ; i++){  %>
            <tr>
              <td>
                <a href="/content/<%=data[i]._id%>" target="_blank">
                  <%= data[i].title %> 
                </a>
              </td>
              <td><%= data[i].content %> </td>
              <td><%= data[i].date %> </td>
              <td>
                <button class="delete" data-id="<%= data[i]._id %>">삭제</button>
              </td>
            </tr>
        
          <%  } %>      
        </tbody>

      </table>

      <a class="btn btn-primary"  href="/enter" style="float : right; margin-right: 10px;"> 글쓰기 </a>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <!-- jQuery를 사용하기 위한 웹 주소를 입력한다.  -->
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script>

      $('.delete').click(function(e){

        let sid = e.target.dataset.id

        console.log(sid);

        // jQuey 메소드를 사용하기 위해 jQuery 객체로 변환
        let item = $(this);

        console.log(item);
        
        // ajax 사용
        $.ajax({
          type : 'post',  // 요청 방식
          url : '/delete',  // 요청 주소 -> list.ejs를 렌더하는 서버의 /delete 섹션으로 자동으로 요청을 전달한다.
          data : {_id : sid }, // 서버에 전달할 요청 데이터
        }).done((result)=>{
          console.log('ajax 완료');

          // jQuery 메소드 적용  
          item.parent('td').parent('tr').remove();
    
    
        }).fail((xhr,textStatus,errorThrown)=>{
          console.log('삭제 실패')

          console.log(xhr,textStatus,errorThrown);
        })
      })


      $('#search-btn').click((event)=>{
        
        let inputValue = document.getElementById('search').value;

        location.href='/search?value='+ inputValue;
      })
    </script>

  </body>  
</html>